@page
@model CIS341_Lab03.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <input type="text" name="name">
    <input asp-for="EmailAddress">
    <input type="text" name="message">
    <input type="submit">
</form>