@page
@model ContactModel

@{
}

<h1>Contact Us</h1>

<form asp-page="Contact">
    <input asp-for="Name" /><br />
    <input asp-for="EmailAddress" /><br />
    <input asp-for="Message" /><br />
    <input type="submit" />
</form>